<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ToDoNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Products App</a>
    </div>
    <div class="collapse navbar-collapse" id="ToDoNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= root_path %>">Index</a></li>
        <li><a href="<%= new_category_path %>">Create Category</a></li>
      </ul>
    </div>
  </div>
</nav>